[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
lapin = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
